src/OutlookLyncAddin.Configuration/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn://i-teco/schemas/dev/outlook-lync-addin" elementFormDefault="qualified" targetNamespace="urn://i-teco/schemas/dev/outlook-lync-addin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="outlookLyncAddinSection" type="tns:OutlookLincAddin.Configuration.OutlookLyncAddinSectionCT" />
	<xs:complexType name="OutlookLincAddin.Configuration.OutlookLyncAddinSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="phonePatterns" type="tns:OutlookLincAddin.Configuration.PhonePatternCollectionCT">
				<xs:annotation>
					<xs:documentation>The PhonePatterns.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OutlookLincAddin.Configuration.PhonePatternElementCT">
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="regex" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Regex.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="OutlookLincAddin.Configuration.PhonePatternCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="pattern" type="tns:OutlookLincAddin.Configuration.PhonePatternElementCT">
				<xs:annotation>
					<xs:documentation>The PhonePatternElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
